TZ=UTC
DRY_RUN=true
LIVE_SENDS_ENABLED=false
DATA_DIR=./data
PORT=3848
OPEN_BROWSER=true
ROBLOX_API_KEY_SANDBOX=rbx_placeholder_sandbox
ROBLOX_API_KEY_LIVE=rbx_placeholder_live
MESSAGE_ID_SANDBOX=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MESSAGE_ID_LIVE=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
